
/*.Mixed-colorful-fancy-betta-.-1-rgba { color: rgba(191, 133, 63, 1); }
.Mixed-colorful-fancy-betta-.-2-rgba { color: rgba(140, 28, 2, 1); }
.Mixed-colorful-fancy-betta-.-3-rgba { color: rgba(216, 4, 4, 1); }
.Mixed-colorful-fancy-betta-.-4-rgba { color: rgba(89, 1, 1, 1); }
.Mixed-colorful-fancy-betta-.-5-rgba { color: rgba(12, 12, 12, 1); }*/

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Tajawal', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d0000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  background-color: #5f1100;
  width: 100%;
  box-sizing: border-box;
  height: 10vh;
  color: white;
  padding: 2vw;
  display:flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 6px 10px black;
}

nav h1{
  text-transform: uppercase;
  font-size: clamp(10px, 5vmin, 30px);
  font-weight: 400;
}

nav svg{
  cursor:pointer;
  font-size: clamp(10px, 8vmin, 50px);
}

.side-menu-container{
  background-color:rgba(0, 0, 0, 0.507);
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  box-sizing:border-box;
  z-index: 2;
}

.side-menu{
  position:fixed;
  top:0;
  right:0;
  height: 100%;
  width:50vw;
  box-sizing: border-box;
  z-index: 3;
  background-color: #0D0D0D;
  display:flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
}

.side-menu > svg{
  position: absolute;
  top: 10px;
  right:10px;
}

.menu-links{
  list-style: none;
  height:30%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

.menu-links li{
  font-size: clamp(10px, 5vmin, 30px);
  text-transform: uppercase;
  cursor:pointer;
}

.social-links{
  width:55%;
  display:flex;
  justify-content:space-around;
}

.social-links svg{
  font-size: clamp(10px, 10vmin, 60px);
}